{
        debug
        order geofence before respond
}

localhost:80

route /* {
        geofence {
                # Cache ip addresses and if they are within proximity or not
                # Cache for 7 days, valid time units are "ms", "s", "m", "h"
                # Not specifying a TTL sets no expiration on cached items and will live until restart
                cache_ttl 168h
                # freegeoip.app API token, this example reads from an environment variable
                freegeoip_api_token {$FREEGEOIP_API_TOKEN}
                # Proximity
                # 0 - 111 km
                # 1 - 11.1 km
                # 2 - 1.11 km
                # 3 111 meters
                # 4 11.1 meters
                # 5 1.11 meters
                sensitivity 3
        }
}